strong{ // lable selection
    color: #304ffe;
}
// .token.comment{ // class selection. if the class name have space ,use dot instead
//     color: #0099FF
// }
blockquote {
    font-size: 1rem;
    color: #2c3e50;
    border-left: 0.2rem solid #6495ed;
    margin: 1rem 0;
    padding: 15px 20px;
    background-color: #e3f2fd;
}
.custom-block.tip{
    color: darkgreen;
}
em{
    color:#c849ff;
}

.md-fences {
    font-family: var(--code-font-family);
    background-color: var(--code-block-bg-color);
    cursor: default;
    color: var(--text-color);
    margin: 20px 0;
    padding: 35px 20px 20px !important;
    border-radius: 5px;
}

.md-fences {
    font-size: .9rem;
    position: relative!important;
    display: block;
    page-break-inside: avoid;
    text-align: left;
    overflow: visible;
    white-space: pre;
    background: inherit;
}